.container
  %h1 Categories

  %table.table.table-hover.table-vertical-aligned#categories
    %thead
      %tr
        %th Name
        %th Actions
    %tbody
      - @categories.each do |category|
        %tr.category
          %td.name= category.name
          %td.form{style: 'display: none;'}
            %form.form-inline.inlm{action: "/admin/categories/#{category.id}", method: 'POST'}
              != csrf_tag
              %input{type: 'hidden', name: '_method', value: 'PUT'}
              %input.form-control.input-small{type: 'text', name: 'category[name]', placeholder: 'Name', value: category.name}
              %button.btn.btn-small.btn-primary{type: 'submit'} Save
              %button.btn.btn-small.cancel Cancel
          %td
            %form.form-inline.inlm{action: "/admin/categories/#{category.id}", method: "POST"}
              != csrf_tag
              %input{type: 'hidden', name: '_method', value: 'DELETE'}
              %button.btn.btn-small.btn-danger{type: 'submit'} Delete
            %button.btn.btn-small.category-edit Edit
  %form.form-inline#category_add{action: '/admin/categories', method: 'POST'}
    != csrf_tag
    %input.form-control.input-small{type: 'text', name: 'category[name]', placeholder: 'Name'}
    %button.btn.btn-primary{type: 'submit'} Add
    %span.help-block{style: 'display: none;'} We recommend to use lowercase for category name; Because currently we use category name directly for category page. (/category/...)

:javascript
  jQuery(function($){
    $("#categories tr.category").each(function() {
      var row = $(this);
      row.find(".category-edit").click(function() {
        row.find(".name").hide();
        row.find(".form").show();
        row.find(".form input").focus();
      });
      row.find(".cancel").click(function() {
        row.find(".name").show();
        row.find(".form").hide();
      });
    });
    $("#category_add input").keyup(function () {
      if (this.value.match(/[A-Z]/)) {
        $("#category_add .help-block").show();
      } else {
        $("#category_add .help-block").hide();
      }
    });
  })
